
@{
    ViewData["Title"] = "GetCars";
}

@model CarInfo
<h1>GetCars</h1>

<table class="table-bordered">
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
      
    </tr>
   
   
    <tr>
        <td>@Model.Make</td>
        <td>@Model.Model</td>
        <td>@Model.Year</td>
        <td>@Model.Color</td>
       
    </tr>

   

</table>







